html, body {
    /* 增加锚点跳转过度效果 */
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
.accordion .panel-title a:after,
.accordion .panel-title a.collapsed:after {
    top: 0 !important;
    left: -15px !important;
}

/*侧边栏开始*/
.myScrollspy {
    position: fixed;
    top: 100px;
    left: 0;
    width: 16.67vw;
    height: calc(100vh - 100px);
    transition: 0.5s;
    opacity: 1;
    background-color: #e0ebeb;
    pointer-events: auto;
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    /* 允许点击事件 */
}

.myScrollspy.hidden * {
    opacity: 0;
    /* 设置透明度为 0 */
    pointer-events: none;
    /* 禁用点击事件 */
}

.left-bar {
    position: relative;
    width: 100%;
    padding: 20px;
    z-index: 2;
    display: block;
}

.left-bar-right {
    position: relative;
    width: 100%;
}


.sidebar-link:hover {
    color: #a5af14;
}

.left-bar-right-item {
    padding-bottom: 10px;
}

.small-item {
    padding-left: 10px;
    padding-bottom: 2px !important;
}

.sidebar-link {
    font-size: 20px;
    /* 设置字体大小 */
    color: #274940;
    transition: font-size 0.2s;
    /* 设置过渡动画效果 */
    text-decoration: none;
    font-family: Aaargh;
    font-weight: bold;
}

.sidebar-link.current {
    font-size: 26px;
    /* 设置字体大小 */
    color: #b2aa6d;
}

.sidebar-link.active {
    font-size: 30px;
    /* 设置字体大小 */
    color: #b2aa6d;
}

/*侧边栏二级*/
.sidebar-link-two:hover {
    color: #a5af14;
}

.sidebar-link-two {
    font-size: 16px;
    /* 设置字体大小 */
    color: #274940;
    transition: font-size 0.2s;
    /* 设置过渡动画效果 */
    font-family: Aaargh;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-link-two.current {
    font-size: 17px;
    /* 设置字体大小 */
    color: #b2aa6d;
}

.sidebar-link-two.active {
    font-size: 17px;
    /* 设置字体大小 */
    color: #b2aa6d;
}

.scroll-bar {
    position: absolute;
    top: 0;
    left: 97%;
    height: 10px;
    width: 3%;
    background-color: #bfc85c;
    transition: height 0.2s ease-out;
}


.left-bar-bg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.left-bar-bg img {
    position: relative;
    left: 0;
    width: 90%;
    /* 图片宽度*/
    z-index: -1;
    opacity: 50%;
}

/*侧边栏结束*/
.myPage:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://static.igem.wiki/teams/4907/wiki/background/team.png") center 0 no-repeat;
    opacity: 0.16;
    background-size: cover;
}

.popover-header {
    color: white;
    font-size: 16px;
    font-family: Fashion;
    text-align: center;
    background-color: #1bcea6;
}

.popover-arrow {
    color: #1bcea6;
}

.popover-body {
    background-color: #1bcea6;
    align-items: center;
}

.popover-body img {
    margin: 5px 35px;
    width: 110px;
    height: 110px;
}