.toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    background-image: url("https://static.igem.wiki/teams/4907/wiki/background/top1.png") !important;
    background-size: 80px 80px;
    visibility: visible;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1100;
}

@media (max-width: 1000px) {
    .toTop {
        right: 3px !important;
    }
}

.toTop::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -4px auto;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toTop:hover {
    animation: myfirst 0.8s ease-in-out;
}

@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.toTop:hover::after {
    border-color: #fff;
}